
    <img class="bg-img" src="../../assets/img4.jpg">
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>please enter email & password !!</h6>
                </div>
                    <form>
                        <div class="mb-3 mx-4">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"placeholder="name@example.com"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else</div>
                        </div>
                        <div class="mb-3 mx-4">
                            <label for="inputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="inputPassword1">
                        </div>
                        
                        <button type="submit" class="btn btn-primary mx-4">login</button>
                </form>
                <a style="color: white; margin-top:5px ;margin-bottom: 10px;margin-left: 10px;"routerLink="/signup">New user can signin by clicking here</a>
            </div>
        </div>
    </div>
  </div>